.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

#app-header {
  text-align: center;
  margin-bottom: 80px;
}

#app-title {
  font-size: 48px;
  margin-bottom: 0;
}

#app-subtitle {
  font-size: 24px;
  margin-top: 8px;
}

.pretty-container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  width: 800px;
}

.control-title {
  font-size: 28px;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 25px;
}

.control-input {
  width: 100px;
}

.control-label {
  margin-bottom: 10px;
  margin-left: 0px;
}

#model-inputs {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#reports-section {
  width: 100%;
  margin-top: 100px
}